services:
  database:
    image: postgres:14
    env_file:
      - .env
    environment:
      - POSTGRES_DB=lacrei
      - POSTGRES_USER=lacrei
      - POSTGRES_PASSWORD=lacrei
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data/

volumes:
  postgres_data:
