name: CI/CD

on:
  push:
    branches:
      - main
      - develop

env:
  PYTHON_VERSION: "3.13"
  POETRY_VERSION: "2.2.1"


jobs:
  lint:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('poetry.lock') }}

      - name: Install deps
        run: poetry install --no-interaction --no-root

      - name: Ruff
        run: poetry run ruff check .
      
      - name: Black (checks)
        run: poetry run black --check .
  tests:
    name: tests
    runs-on: ubuntu-latest
    needs: [lint]

    services:
      postgres:
        image: postgres:16
        env:
          POSTGRES_DB: ${{POSTGRES_DB}}
          POSTGRES_USER: ${{POSTGRES_USER}}
          POSTGRES_PASSWORD: ${{POSTGRES_PASSWORD}}
        
        ports:
          - 5432:5432

        options: >-
          --health-cmd="pg_isready -U lacrei -d lacrei"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5
    env:
      SECRET_KEY: test-secret-key
      DEBUG: "False"
      DATABASE_URL: postgresql://lacrei:lacrei@localhost:5432/lacrei

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true

      - name: Cache venv
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ env.PYTHON_VERSION }}-${{ hashFiles('poetry.lock') }}

      - name: instal deps
        run: poetry install --no-interaction --no-root

      - name: Migrate
        run: poetry run python src/manage.py migrate --noinput

      - name: Run tests
        run: poetry run python src/manage.py test

  build:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    needs: [tests]
    if: github.event_name == 'push'

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Image name and tags
        id: meta
        run: |
          echo "IMAGE=ghcr.io/${{ github.repository }}/desafio-lacrei-api" >> $GITHUB_OUTPUT
          echo "TAG=${GITHUB_SHA}" >> $GITHUB_OUTPUT

      - name: Build $ Push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ steps.meta.outputs.IMAGE }}:${{ steps.meta.outputs.TAG }}
            ${{ steps.meta.outputs.IMAGE }}:latest
